.tabbable.tabs-left
	include ../comp/menu_cp
	.tab-content
		.tab-pane.active
			form.form-horizontal(method="post", action="#")
				fieldset
					legend
						.pull-left=locals.title
						button.btn.btn-primary.pull-right(type="button",onclick="$('#playerPreview').hide();$('#file-uploader').show();return false")=__("Create a new crew")
					.row
						- for(a=0;a<locals.result.length;a++)
							.span3
								.media
									.pull-left
										a(href="/"+_config.cp_basepath+"/crews/"+locals.result[a].permalink+"/")
											- avatar = locals.Fnc.getFileFormat(locals.result[a],90,68)
											img.media-object(alt="FLxER.NET", src=avatar)
									.media-body
										h4.media-heading
											a(href="/"+_config.cp_basepath+"/crews/"+locals.result[a].permalink+"/")=locals.result[a].display_name
										- stats = "";
										- for(item in locals.result[a].stats)
											- if (locals.result[a].stats[item] || item == "performances") stats+="<li>"+__(item)+": "+locals.result[a].stats[item]+"</li>"
										- if (stats)
											ul!=stats
