extends ../layout
block content
	.tabbable.tabs-left.row
		include ../comp/cp_menu
		.tab-content.col-md-10
			.tab-pane.active
				legend
					.clearfix
						.pull-left=title
						a.btn.btn-primary.pull-right(type="button",href="/controlpanel/crews/new/")=__("Create a new crew")
				.row.main-list
					- for(var a=0;a<result.length;a++)
						- var box = result[a]
						- var boxpath = "controlpanel/crews"
						include ../comp/box_performers
