extends ../layout

block variables
  - var activeChapter='crews'
  - var activeSection='image'

block inner-content
  include ../menu
  +render-alerts(alerts)
  //- FIXME TBD after controlpanel > user > image is defined
