extends ../layout

block variables
	- var chapter='crews'
	- var activeSection='list'

block inner-content
	+render-alerts(alerts)
	ul
		each box in result.crews
			li
				span=box.display_name
				a(href="/controlpanel/crews/#{box.permalink}/public")
					i.fa.fa-pencil
