extends ../layout

block variables
	- var chapter='crews'
	- var activeSection='members'

block inner-content
	include ./menu
	+render-alerts(alerts)
	ul
		each box in result.members
			li
				span=box.display_name
