ul.nav.nav-pills
	li
		a(href="/controlpanel/crews/#{result.permalink}/public")=__("public data")
	li
		a(href="/controlpanel/crews/#{result.permalink}/image")=__("image")
	li
		a(href="/controlpanel/crews/#{result.permalink}/members")=__("members")
