- if (menu)
	ol.nav.nav-list
		li
			a(target="_blank",href="/admin/import/?data=categories") Import Categories
		li
			a(target="_blank",href="/admin/import/?data=categories_rel") Fix Categories rel
		li.divider
		li
			a(target="_blank",href="/admin/import/?data=users") Import Users
		li
			a(target="_blank",href="/admin/import/?data=footage") Import Footage
		li
			a(target="_blank",href="/admin/import/?data=playlists") Import Playlists
		li
			a(target="_blank",href="/admin/import/?data=performances") Import Performances
		li
			a(target="_blank",href="/admin/import/?data=events") Import Events
		li
			a(target="_blank",href="/admin/import/?data=gallery") Import Gallery
		li
			a(target="_blank",href="/admin/import/?data=tvshow") Import TV Shows
		li.divider
		li
			a(target="_blank",href="/admin/import/?data=crews_rel") Fix Crews rel
		li
			a(target="_blank",href="/admin/import/?data=users_crews_rel") Fix Users Crews rel
		li
			a(target="_blank",href="/admin/import/?data=footage_rel") Fix Footage rel
		li
			a(target="_blank",href="/admin/import/?data=gallery_rel") Fix Gallery rel
		li
			a(target="_blank",href="/admin/import/?data=tvshow_rel") Fix TV Shows rel
		li.divider
		li
			a(target="_blank",href="/admin/import/?data=playlists_rel") Fix Playlists rel
		li
			a(target="_blank",href="/admin/import/?data=performances_rel") Fix Performances rel
		li.divider
		li
			a(target="_blank",href="/admin/import/?data=events_rel") Fix Events rel
		li.divider
		li
			a(target="_blank",href="/admin/import/?data=performances_rel_events") Fix Performances Events rel
		li.divider
		li
			a(target="_blank",href="/admin/import/?data=users_rel") Fix Users rel
	div=msg
- if (url)
	script(type="text/javascript")
		var u = '#{url}';
		
		var t = setTimeout("window.location.href='"+u.replace(/&amp;/gi,"&")+"'",1500);
	div=url
- if (msg)
	div=msg
- else
