head
	title=(title ? title+" | FLxER" : "FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE")
	//meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="author", content="FLYER COMMUNICATION, Gianluca Del Gobbo, Flavio Distefano")
	meta(name="robots", content="all")
	meta(name="keywords", content=__("meta-keywords"))
	- description = typeof description !== 'undefined' && description ? description : ""
	meta(name="description", content=description)

	link(type="text/css", href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
	link(type="text/css", href="/bootstrap-datepicker/css/datepicker.css", rel="stylesheet")
	link(type="text/css", href="/bootstrap-timepicker/css/bootstrap-timepicker.min.css", rel="stylesheet")
	link(type="text/css", href="/modules/jquery-ui/bootstrap-jquery-ui-1.10.1.custom.css", rel="stylesheet")
	link(type="text/css", href="/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css", rel="stylesheet")
	link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,500,300italic,400italic")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel='stylesheet', href='/modules/sidr/stylesheets/jquery.sidr.dark.css')
	link(type="text/css", href="/css/style.css", rel="stylesheet")
	script(type="text/javascript", src="/jquery/jquery.min.js")
