doctype html
html(lang=config.lang)
	include ./head

	body
		.wrapper
			header#header
				//- home and general pages
				if (typeof(userpage) === 'undefined')

					// - general menu and login
					include comp/menu_general

					//- interaction menu
					include login/menu

					//- searchform e lan selector
					.container
						.row
							// logo
							.col-sm-4.logo
								a(href="/", title="FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE")
									img(src="/img/logo.gif", alt="AV node - PERFORMING VIDEO NETWORK")

							.col-sm-8
								div.navbar.navbar-default#menu_search_lang
									.container-fluid
										//- search form
										form.navbar-form.navbar-left(action="/search/",role="search")#cse-search-box
											input(type="hidden", name="cx", value="008270153029254647808:_czuhrjkjpk")
											input(type="hidden", name="cof", value="FORID:10")
											input(type="hidden", name="ie", value="UTF-8")
											.form-group
												- q = typeof q !== 'undefined' && q ? q : ""
												input.form-control(type="text",	name="q", size="31", value=q)
												button.btn.btn-default(type="submit", name="sa")=__("Cerca")
													//script(type="text/javascript", src="https://www.google.com/cse/brand?form=cse-search-box&amp;lang"+_config.lang)

										//- lan selector
										ul.nav.navbar-nav
											li.dropdown
												a.dropdown-toggle(href="#", data-toggle="dropdown")
													!=__(getLocale())+" "
													b.caret
												ul.dropdown-menu
													each language in config.locales
														li
															a(href="/controlpanel/change_lang?lang=#{language}")=__(language)

			#content
				.container
					block content

			include ./footer
