extends layout
block content
	.container
		h1=config.sections[sez].title+" "
			small=__("From")+" "+skip+" "+__("to")+" "+(skip+config.sections[sez].limit)+" "+__("on")+" "+tot+" "+config.sections[sez].title
		include comp/submenu_sez
	.container
		.row.main-list
			- for(a=0;a<result.length;a++)
				- var box = result[a]
				- if (sez == "performances")
					include comp/box_performances
				- if (sez == "performers")
					include comp/box_performers
				- if (sez == "footage")
					include comp/box_footage
				- if (sez == "playlists")
					include comp/box_playlists
				- if (sez == "tvshows")
					include comp/box_tvshows
				- if (sez == "events")
					include comp/box_events
	.container
		include comp/paginator
