extends layout
block content

	include missing_data
	include performer_inc_author_header
	// performer_list.jade
	.list_bkg.list_page(class= sez+"_list" )
		.title_performer_list_bkg
			.container
				h1.list_page_title
					span
						svg.slash_svg(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
							polyline(points="0,34.3 20,0 32.3,0 12.2,34.3 ")
							polyline(points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")
					span.list_page_user!=title
					i(class="fa fa-caret-right")
					span.list_page_sez=title2
		.container
			-if (result[sez] && result[sez].length)
				- span = 3
				.row.main-list.grid
					- for(var a=0;a<result[sez].length;a++)
						- var box = result[sez][a]
						- if (sez == "performances")
							include comp/box_performances
						- if (sez == "performers")
							include comp/box_performers
						- if (sez == "footage")
							include comp/box_footage
						- if (sez == "playlists")
							include comp/box_playlists
						- if (sez == "tvshows")
							include comp/box_tvshows
						- if (sez == "events")
							- span = 4
								include comp/box_events
						- if (sez == "gallery")
							include comp/box_gallery
						- if (sez == "members")
							include comp/box_performers
						- if (sez == "crews")
							include comp/box_performers
			- else
				.alert=__("The user have no content available")
