extends layout
block content

	include missing_data
	include performer_inc_author_header
	.list_bkg.list_page
		.container
			h1.list_page_title=title
			-if (result[sez] && result[sez].length)
				- span = 3
				.row.main-list.grid
					- for(var a=0;a<result[sez].length;a++)
						- var box = result[sez][a]
						- if (sez == "performances")
							include comp/box_performances
						- if (sez == "performers")
							include comp/box_performers
						- if (sez == "footage")
							include comp/box_footage
						- if (sez == "playlists")
							include comp/box_playlists
						- if (sez == "tvshows")
							include comp/box_tvshows
						- if (sez == "events")
							include comp/box_events
						- if (sez == "gallery")
							include comp/box_gallery
						- if (sez == "members")
							include comp/box_performers
						- if (sez == "crews")
							include comp/box_performers
			- else
				.alert=__("The user have no content available")
