- //console.dir(locals.result)
include performer_inc_header_mini
h1=locals.title
-if (locals.result[locals.sez] && locals.result[locals.sez].length)
	.row.main-list
		- for(var a=0;a<locals.result[locals.sez].length;a++)
			- var box = locals.result[locals.sez][a]
			- if (locals.sez == "performances")
				include comp/box_performances
			- if (locals.sez == "performers")
				include comp/box_performers
			- if (locals.sez == "footage")
				include comp/box_footage
			- if (locals.sez == "playlists")
				include comp/box_playlists
			- if (locals.sez == "tvshows")
				include comp/box_tvshows
			- if (locals.sez == "events")
				include comp/box_events
			- if (locals.sez == "gallery")
				include comp/box_gallery
- else
	.alert=__("The user have no content available")
