extends ../layout
include ./mixins

block content
	.container
		.tabbable.tabs-left.row
			include ./menu
			.tab-content.col-md-10
				.tab-pane.active
					.tab-pane.active
						+render-errors(errors)
						block form
