body{font-family:Arial, Helvetica, sans-serif;font-size:0.75em;color:#595959;background-color:#FFFFFF;}
body,img,form,td,th,p{margin:0;padding:0;border:0;}
a:link,a:active,a:visited{text-decoration:none;font-weight:bold;}
a:hover img{opacity:.6;}
a img{display:block;float:left;}
#rateBox a img{display:inline;float:none;}
#rateBox a:hover,.membersList a:hover{background: none;}
form a img{display:inline;float:none;}
h1{font-size:2.234em;margin:0px;padding: 0 0 10px;}
h3{font-size:1.834em;margin:0px;padding: 0 0 10px;}
h6 {
    background-color: #000000;
    color: #FFFFFF;
	font-size: 1em;
    margin: 0 0 1px;
    padding: 2px 5px 1px 10px;
    font-size: 1.333em;
    padding: 2px 5px 1px 10px;
}
.subCnt{background-position: center top;background-repeat: no-repeat;/*width: 980px;*/margin:1px auto;font-size:1.3em;}
/*#col2 h3{ width:250px;}*/
#cse-search-results iframe{width:660px;}

.right4{margin-right:4px;}
.right10{margin-right:10px;}
.top5{margin-top:5px;}
.top20{margin-top:20px;}
.red{color:#990000}
.right{float:right}
.left{float:left}
.myClear{clear:both;font-size:0.1em;height:1px;display:block;}
.spacer{clear:both;font-size:0.1em;height:1px;display:block;}
.small{font-size:0.833em;}
.normal{font-size:1em;}
.mb10{margin-bottom:10px;}

a:link,a:active,a:visited,h1,h3,.corpSel,#corporate a:hover{color:#00F;}
a:hover,.gallery a:hover#subSez a:hover{background-color:#00F;color:#FFF;}
.grp{background-image:url("/img/bgrp.gif");}
.gF5F5F5{background-image:url("/img/bF5F5F5.gif");}
.gEDEDED{background-image:url("/img/bEDEDED.gif");}
.gFFFFFF{background-image:url("/img/bFFFFFF.gif");}
.gE5E5E5{background-image:url("/img/bE5E5E5.gif");}

.bulletSmall {
  background-image: url("/img/spriteme1.png");
  background-position: -22px -10px;padding-left: 15px;background-repeat: no-repeat;
}
.icoPerf {
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position: -10px -96px;padding-left: 15px;background-repeat: no-repeat;
}
.icoVideo {
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position: -10px -128px;padding-left: 15px;background-repeat: no-repeat;
}
.icoPost {
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position: -10px -161px;padding-left: 15px;background-repeat: no-repeat;
}
.icoMore {
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position: -10px -58px;padding-left: 15px;background-repeat: no-repeat;
}
.icoCondi {
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position: -10px -230px;padding-left: 15px;background-repeat: no-repeat;
}
.icoAmici {
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position: -10px -199px;padding-left: 15px;background-repeat: no-repeat;
}
.icoDelete {
  position:absolute; left:160px;top:5px;
}
.icoDelete a{
  background-image: url("/img/spriteme1.png");
  background-position: -9px -629px;background-repeat: no-repeat;
  height: 16px;display: block;width: 18px;
}
.icoDelete a:hover{background-color: transparent;opacity:.6;}
.icoDrag{
  background-image: url("/img/spriteme1.png");
  background-position: -9px -659px;background-repeat: no-repeat;
  height: 19px;display: block;width: 19px;
  position:absolute; left:5px;top:5px;
}

#lang .langItem{display:block;height:11px;width:18px;}
.flag_by .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -260px;
}
.flag_en .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -290px;
}
.flag_es .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -320px;
}
.flag_fr .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -350px;
}
.flag_hu .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -380px;
}
.flag_it .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -410px;
}
.flag_pl .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -440px;
}
.flag_ru .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -10px -470px;
}

.flag_gr .langItem{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -50px -290px;
}

.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.diggit_NEUTRAL{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -5px -507px;
  width:14px;height:14px;
  float: left;
  display: block;
}
.diggit_PLUS{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -5px -537px;
  width:14px;height:14px;
  float: left;
  display: block;
}
.diggit_MINUS{
  background-image: url("/img/spriteme1.png");background-repeat: no-repeat;
  background-position: -5px -567px;
  width:14px;height:14px;
  float: left;
  display: block;
}
.icoRss {
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position: -5px -597px;padding:3px 5px 5px 25px;background-repeat: no-repeat;
}

.rateLabel{float: left;display: block;}

.notificaLi {
  background-image: url("/img/spriteme1.png");
  background-position: -10px -160px;padding-left: 15px;
}

.sottotitolo {
  background-image: url("/img/spriteme1.png");
  background-position: -10px -690px;padding:2px 0 4px 18px;
}
#perfCnt .sottotitolo {
  background: none;
  padding:0;
}
.eventsCnt .sottotitolo {
  background: none;
  padding:0;
}


/* CORPORATE */
#corporate {font-size:1.166em; margin:20px 0; padding:0; float:left; height:18px;}
#corporate li,#corporate a{float:left; list-style:none;}
#corporate a{color:#000000;}
#corporate a{ font-weight:bold;display:block;color:#000000;padding:0px 10px 0 10px; margin-right:10px;height:18px;text-align:right;  background:none; border-right: 1px solid #000000; }
.bulletSmall{ background-repeat:no-repeat;padding:0 7px;margin-right:5px;}
/*
#corporate{width:400px;font-size:0.917em;height:30px;}
#corporate li,#corporate a{float:left;list-style:none;}
#corporate ul{margin:0;padding:0;border-right:1px solid #D9D9D9;float:left;height:30px;}
#corporate a,.corpSel{ display:block;color:#676565;padding:8px 10px 0 10px;height:22px;font-weight:normal;background:none;border-left:1px solid #D9D9D9;}
#corporate a:hover{}
.corpSel{background-color:#D9D9D9;}
*/
.col_0s{margin:0 0 0 0;overflow:hidden;width:36px;height:40px;float:left;padding:10px}
.col_1s{margin:0 0 0 0;overflow:hidden;width:894px;height:45px;float:left; padding:15px 15px 0 15px}

/* HEADER */
h2{width:250px;height:90px;margin:0;padding:0px;}
.topBanner{width:730px;height:90px;margin:0;}
#mainMenu{width:450px;float:left;padding:0;border:0px;clear:both;height:26px;clear:both;padding:0;margin:10px 0 0 0;}
#rightMenu{width:530px;float:left;background-color:#333333;height:25px;margin-top:10px;}
#mainMenu li{list-style:none;margin:0;padding:0 20px 0 0px;}
#mainMenu a:hover{color:#FFFFFF;background-color:#666666;}
#lang{float:right;font-size:0.917em;padding:7px 7px 0 7px;;height:18px;}
#lang ul{margin:0;padding:0;}
#lang li{float:left;margin-left:10px;list-style:none;}
.langSel,#lang a:hover{opacity:.5;}
#search{float:left;padding:2px 2px 0 2px;height:21px;font-size:0.917em;}

#project,#software{margin-right:8px;}
#project a,#abusers a{display:block;padding:5px;height:15px;width:120px;}
#softwareA{display:block;float:left;height:15px;padding:5px;width:60px;}
#useNow               {display:block;float:left;height:15px;padding:7px 5px 3px 5px;width:49px;margin-left:1px;font-size:0.833em;}
#software a{color:#FFFFFF;background-color:#FF0000;}
#project a{color:#000000;background-color:#00FF00;}
#abusers a{color:#FFFFFF;background-color:#0000FF;}
#searchCnt{color:#FFFFFF;background-color:#666666;width:445px;text-align:right;padding:4px 5px 0 5px;margin-left:20px;height:21px;}

#subMainMenu{margin-top:8px;color:#FFFFFF;}
#subMainMenu li{margin:0; list-style:none;}
#subMainMenu li a,.subPulsaEdit li a{padding:0 5px;margin:0;}
.subPulsSel{padding:0 5px;color:#FFFFFF;background-color:#000000;font-weight:bold;}
#softwareMenu ul,#projectMenu ul,#communityMenu ul,.subPulsaEdit{padding:0;margin:0;}
#softwareMenu{background-color:#FF0000;color:#FFFFFF;padding:5px;}
#projectMenu{background-color:#00FF00;color:#000000;padding:5px;}
#communityMenu{background-color:#0000FF;color:#FFFFFF;padding:5px;}
#projectMenu a:link,#projectMenu a:visited,#projectMenu a:active{color:#000000;}
#softwareMenu a:link,#softwareMenu a:visited,#softwareMenu a:active{color:#FFFFFF;}
#communityMenu a:link,#communityMenu a:visited,#communityMenu a:active{color:#FFFFFF;}
#subMainMenu a:hover{color:#FFFFFF;background-color:#666666;}

/* GENERAL */
.boxCnt,h2,#col1mag,#col2mag,.col1-2_2colcol2col1,.col1-2_2colcol2col2,.col1-2col1foot,.col1Full3,.col1-2col1-FA,.col2col2BigForum,#mainMenu,.col1-2_2colcol1,.col1-2_2colcol2,.ora,.programma,.topBanner,#mainMenu li,#col1,#paletteMenu li,.archivio li,#fotoMenu li,#forumMenu li,#videoUserMenu li,#fotoUserMenu li,#forumUserMenu li,#editUserMenu li,#videoChannelMenu li,#userMenu li,#contestMenu li,#menuProgrammi li,#col1-1,#col1-2,.boxThumb90,.col1-2col1Big,.col1-2col1VeryBig,#col1Sett,#col2Sett,.col1Fullcol1-400,.col1Fullcol2-400,.col1Fullcol1-480,.col1Fullcol2-480,.col1Fullcol1-200,.col1Fullcol2-200,.col1Fullcol2-200col1,.col1Fullcol2-200col2,.col1-2col2L,.paletteItem,.col1-2col2-3,.col2col2-3,#col2,.loginTit,.loginReg,.boxThumb55,.boxThumb280,.col2col2col1,.col1Fullcol1,.col1Fullcol2,.col1Fullcol2authImg,.col1Fullcol2authImgSmall,.col1Fullcol2authTit,.col1Fullcol2col1,.col1Fullcol2col2,.col1Fullcol2half,.col2half,.myLabelS,.fieldsCnt{float:left;}
.h3Border{}
.borderBig, .borderSmall {background-color:#EDEDED;border:0 none;clear:both;color:#EDEDED;margin:0;padding:0;}
.borderBig{height:5px;}
.borderSmall{height:1px;margin:0 0 5px 0;}
#BoxPerfPrimoPiano{height:385px; overflow:hidden;}


.cnt{width:980px;margin:0 auto;clear:both;position: relative;}
.header{background-color:#FFFFFF; background-image:url("/img/headBkg.gif"); background-repeat:repeat-x;}
.gray{background-color:#D2D2D2;clear:both;}
.black{background-color:#000000;clear:both; color:#FFFFFF;}
/*.graySfuma{background-color:#D9D9D9;}
.darkgray{background-color:#ADADAD;clear:both;}
.white{background-color:#FFFFFF;clear:both;}*/
.loadingWhite{background-color:#FFFFFF;text-align: center;-moz-border-radius:2px 2px 2px 2px;border-radius:2px;padding: 10px;}

.cntFull{width:980px;padding-top:10px;}
.cntCol{margin-top:10px;}
.cntPadd {background-color:#FFFFFF;padding:10px 10px 10px 10px;display:block;}
.cntPaddGall {background-color:#FFFFFF;padding:10px 10px 0 10px;display:block;}
.grp{background-color:#E5E5E5;  background-repeat:no-repeat; background-position:top right;}
.gF5F5F5{ background-color:#F5F5F5; background-repeat:no-repeat; background-position:top right;}
.gEDEDED{ background-color:#EDEDED; background-repeat:no-repeat; background-position:top right;}
.gFFFFFF{ background-color:#FFFFFF; background-repeat:no-repeat; background-position:top right;}
.gE5E5E5{ background-color:#E5E5E5; background-repeat:no-repeat; background-position:top right;}



.cntNoPadd{background-color:#FFFFFF;}
.all{text-align:right;}
.all a{text-decoration:underline;}
.bigText{font-size:1.167em}
.userType{position:absolute;top:53px; left:0;opacity:0.6;}
.postFeature{margin:0;padding:0;list-style:none;}
.postFeature li{margin-right:10px;padding-top:3px;}
.userTypeDett{margin:0 0 0 3px;font-size:0.545em;}
.cntTxt{margin-top:10px;font-size:1.167em;}
.col1Fullcol2-400 ul {margin:5px 0 0 10px; padding:0 0 0 10px;} 
/*h3 a:link, h3 a:active, h3 a:visited{color:#000000;}*/

#cntHide{overflow:hidden;}
#cntHideUser{overflow:hidden;}
.cntHideNews{overflow:hidden;margin:5px 0 0 5px;}

#cntHide p,#cntHideUser p,.cntHideNews p{overflow:hidden;margin:0 0 5px 0;}

#flashBanner{background-color:#F5EB00;width:300px;height:250px; overflow:hidden;}
#flashBannerTop{background-color:#FFFFFF;width:730px;height:90px;}
#flashBanner embed,#flashBanner object,#flashBanner{outline:none;}

/*#col1-2 .cntPadd ol,#col1-2 .cntPadd ul{margin:0 0 0 15px;padding:0 0 0 15px;}*/

.boxThumb55{width:55px;height:55px;overflow:hidden;}
.boxThumb90{width:90px;height:68px;overflow:hidden; position:relative;}
.boxThumb280{width:280px;height:210px;overflow:hidden;}
.boxcol-370{width:370px; float:left}
.boxCnt{overflow:hidden; margin-left:5px;}
.boxcol2col2{width:112px;}
.boxcol2col2-3{width:220px;}
.boxInfo{width:96px;border-left:2px solid #EDEDED;padding-left:5px;}
.boxInfo li,.txtPost li{font-size:.75em;clear: both;margin-bottom:5px;}
.nowrap{white-space: nowrap;overflow: hidden;}
.boxInfo a img,.txtPost a img,.titPost a img,.col2col2-3 a img,.col2half a img,.all a img,.rss a img{padding-right:3px;}
.boxcol1col2{width:130px;}
.boxcol1-2col2{width:237px;}
.paletteItemCnt{width:110px;}
.boxcol2halfcol2{width:78px;}
.boxcol2col2-3Small{width:185px;}


.col2col2BigForum{width:510px;}
.txtPost{margin-top:5px;}


#col1{width:680px;margin:10px 0 0 0;}
.col1Full{width:680px;position:relative;}
.col1Full .bottomLineBig{width:660px;}
.col1Fullcol1{width:307px;margin-right:10px;}
.col1Fullcol2{width:343px;}
.col1Fullcol2authImgSmall{width:60px;height:60px;overflow:hidden;}
.col1Fullcol2cnt{padding-bottom:5px;margin-bottom:5px;border-bottom:2px solid #EDEDED;}
.col1Fullcol2col1{width:40px;height:30px;overflow:hidden;}
.col1Fullcol2col2{width:110px;margin-left:5px;}

.col1Fullcol1-400{width:400px;}
.col1Fullcol1-480{width:480px;}
.col1Fullcol2-400{width:250px;margin-left:10px;overflow:hidden;}
.col1Fullcol2-480{width:160px;margin-left:10px;}

.col1Menu{font-size:1em;padding:0;margin:10px 0 0 0;list-style:none;}
.col1Menu li{padding:0;margin:0;}

#col1-1{width:220px;margin:0 0 0 0;overflow:hidden;}
#col1-2{width:460px;}
.col1-2col1VeryBig{width:535px;}
#col1mag{width:460px;margin:10px 0 0 0;}
#col2mag{width:520px;margin:10px 0 0 0;}

.col1-2col2-3{width:120px;overflow:hidden;}
.col1-2col2-3 div{width:109px;}
.col2col2-3{width:190px;}
.col2col2-3 div{width:190px;}
 
#paletteMenu, .cntTitPalette,.archivio {border-bottom:1px solid #0000FF;margin: 0px 0 20px;}
.cntTitPaletteGall{border-bottom:1px solid #0000FF;padding-bottom:5px;}
#paletteMenu ,.archivio{padding:0 0 5px 0;}
#paletteMenu li{background-color:#FFFFFF;list-style:none;margin-right:6px;padding:1px;}
.cntGall{background-color:#FFFFFF;}
.cntGallMenu,.cntGallImg{border-bottom:1px solid #0000FF;padding: 10px 0;}
.cntGallImg {text-align: center;}
.cntGallImgImg{width:660px;}
.playImg{width:660px;}

.archivio li{list-style:none;margin-right:3px;padding:1px;}
#paletteMenu a,.postMenuSel,.archivio a{font-weight:bold;display:block;padding:0 3px;}
#paletteMenu a:hover,.archivio a:hover{background-color:#0000FF;}
#paletteMenu ul {margin:0;padding:0;}
.paletteItem {margin-bottom:20px;width:210px;}
.box{margin-bottom:20px;}

/*#paletteMenu,.cntTitPalette{border-bottom:2px solid #0000FF;margin:0 0 10px 0;}
#paletteMenu{padding:0;height:25px;font-size:0.75em;background-color:#FFFFFF;}
#paletteMenu li{list-style:none;padding:1px;background-color:#FFFFFF;margin-right:40px;}*/

.forumTit{font-size:1.666em;}
#forumTable td{border-bottom:2px dotted #EDEDED;padding:5px 5px 5px 0;}
#forumTable thead td{border-bottom:5px solid #EDEDED;font-size:1.666em;white-space:nowrap;}
#forumTable td{padding:5px 0px;}
.col1Forum{width:250px;}
.col2Forum{width:150px;text-align:center;font-size:1.666em;font-weight:bold;}
.col3Forum{width:240px;}
#forumTable thead{}
.forumIco{vertical-align: top;}
.forumIco img{margin-right:5px;}

#col2{width:300px;margin:10px 0 0 0;}
/*
.titPost{font-weight:bold;color:#333333;padding-left:10px;overflow:hidden;text-transform:uppercase;}
.titPost a{color:#333333;}
.txtPostTop,.txtPost{padding-left:10px;overflow:hidden;white-space:nowrap;}*/
.col2half {overflow:hidden;width:138px;}
.col2half li{margin-bottom:5px;}

dl,dt,dd{margin:0;padding:0;}
dt{color:#666666;margin-top:5px;}
dd{margin-left:5px;}
#col2 ul{margin:0;padding:0;list-style:none;}
#col2 .help ul{margin:0 0 0 10px;padding:0 0 0 10px;list-style:square;}
.more{margin-top:5px;text-align:right;}
.bottomLine{border-bottom:2px solid #EDEDED;padding-bottom:10px;margin-bottom:10px;}
.bottomLineBig{padding-bottom:5px;}
.dida{clear:both;padding-top:5px;margin-top:5px;border-top:2px solid #FFFFFF;font-size:1em;}
.boxError{margin-bottom:10px;border:5px solid #FF0000;padding:10px;background-color:#FFFFCC;}
.boxError strong,.boxError .labelBig{color:#000000;}
#flashPlayer{width:400px;height:300px;position:relative;}
#flashPlayerBig{width:440px;height:330px;position:relative;}
#flashPlayerGallery{width:660px;height:495px;position:relative;}
#playerPreview{width:400px;height:338px;position:relative;background-color:#EEE;}
#playerPreview div{padding:10px;}
.adv{}
.inputFreeStyle{margin-bottom:10px;border:5px solid #676565;padding:10px;background-color:#FFF}
.selectedNoBlock{}

.didaLoginCol1{font-size:0.833em;font-weight:bold;margin:0 auto 10px auto;width:220px;}
.didaLoginCol2{width:220px;margin:0 auto;text-align:right;}
#regLogin{margin-top:6px;}

.current_post{ background-image:url("/img/nowOn.gif"); background-repeat:no-repeat; background-position:top right;}
.current_post div{opacity:.5}
#tagcloud{padding:0;margin:0px;list-style:none;overflow:hidden;}
#tagcloud li{display:inline;font-size:80%;color:#999999;background:none;padding:0;}
#tagcloud li.t1 a{font-size:120%;}
#tagcloud li.t2 a{font-size:160%;}
#tagcloud li.t3 a{font-size:190%;}
#tagcloud li.t4 a{font-size:210%;}
#tagcloud li.t5 a{font-size:230%;}
#tagcloud li.t6 a{font-size:250%;}
#tagcloud li.t7 a{font-size:270%;}
#tagcloud li.t8 a{font-size:290%;}
#tagcloud li.t9 a{font-size:310%;}
#tagcloud li.t10 a{font-size:330%;}
#tagcloud a:link,#tagcloud a:active,#tagcloud a:visited{color:#999999;}
#tagcloud li a:hover{color:#FFF;}/**/

.gallery{margin:0;padding:0;list-style:none}
.gallery ul{margin:0;padding:0;list-style:none}
.gallery a{display:block;color:#000;}
.gallery a:hover img{opacity:.6;}
/*.gallery a:hover{background-color:#0000FF;color:#FFF;}*/

#slideshowPuls{padding:10px;text-align:right;}
.gallItemList{float:left;margin:16px;text-align:center;width:184px;height:170px;position:relative;}
.gallItemList img{width:184px;}
.edit:hover{cursor: move;}
.gallItemList a{padding:0;color:#000;position:relative}
.loading{padding:50px;background-color:#BBBBBB;text-align:center;}
.galleryThumbCnt{margin:10px 0 0 20px;}
.gallDida{padding:0 5px;color:#595959;}
.gallDidaEdit{width:180px;background-color:#FFFFFF;}
.galleryItem{margin:1px 0 0 0;background-image:url("/img/freccia_close.gif");background-repeat:no-repeat;background-position:right;background-color:#BBBBBB;}
.galleryCnt{margin:1px 0;padding:0;list-style:none;background-color:#BBBBBB;}
#galleryUpload,#avatar{margin:0 0 10px 0;padding:5px;background-color:#EEEEEE}
/*#uploadcomplete-avatar,.qq-upload-list{display: none;}*/
.gallTit{font-size:1.666em}
.galleryTit a,.nolink{color:#FFF;padding:1px 5px 5px 5px;display:block;}
.gallStit{display:block;font-weight:normal;}
.galleryItem a{padding:4px 5px 5px 5px;}
.galleryItem a:link, .galleryItem a:visited, .galleryItem a:active{background:none;}
.gallType{position:absolute;left:0;top:0;}
.gallItemListTitEdit{float: left;padding:10px}
.gallItemListSave{text-align:right;padding:10px;clear: both;}


#subSez{margin:0;padding:0;list-style:none}
#subSez ul{margin:0;padding:0;list-style:none}
#subSez a{display:block;color:#000;}
#subSez li ul a{display:inline;color:#000;}
#subSez li ul,#subSez li ol{ margin:0 0 5px 15px; padding:0 0 0 15px;}
#subSez li ul{list-style:square;}
#subSez li li{ margin:5px 0 0 0}

/**/
.alertClose{padding:10px;height:15px;text-align:right;}
#alertCnt
.alert{padding:20px 20px 0 20px;height:230px;font-size:4.5em;}
.alert0,.alert1,.alert2{background-position:5px 5px;color:#D2D2D2;width:680px;height:275px;line-height:1;font-weight:bold;}
.alert0{background-image:url("/img/pattern_blu.gif");}
.alert1{background-image:url("/img/pattern_verde.gif");}
.alert2{background-image:url("/img/pattern_rosso.gif");}
.alert0 a:link,.alert0 a:active,.alert0 a:visited{color:#00F}
.alert1 a:link,.alert1 a:active,.alert1 a:visited{color:#0F0}
.alert2 a:link,.alert2 a:active,.alert2 a:visited{color:#F00}
.alert0 a:hover{background-color:#00F;color:#FFF;}
.alert1 a:hover{background-color:#0F0;color:#FFF;}
.alert2 a:hover{background-color:#F00;color:#FFF;}
#alertOptions{height:25px;position:relative;}
#alertOptions a:link,#alertOptions a:active,#alertOptions a:visited{color:#D2D2D2;}
#alertOptions a:hover{color:#FFFFFF;}
.alertFondino{height:25px;background-color:#000000;opacity:.5; position:relative;}
#alertOptions ul{padding:5px 10px;  margin:0;clear:both;list-style:none;position:absolute;top:0px;width:660px;}
.italic_grigio{color:#999999;font-style:italic}
/**/


.formSpacer{border-bottom:1px solid #000000;margin-bottom:5px;padding-bottom:5px;}
.disabled{border-color:#FFFFFF;background-color:#FFFFFF;font-weight:bold}
.selected,a.selected{background-color:#0000FF;color:#FFFFFF;}
.selectedImg{background-color:#0000FF;color:#FFFFFF;opacity:.5;}
.myLabelS{display:block;width:90px;padding-top:3px;}
.fieldsCnt{width:130px;text-align:right;}
.cntForm{border-top:5px solid #EDEDED;margin-top:5px;padding-top:5px;}
.techList{margin:0 0 10px 0;padding:0;list-style:none;}

.textfieldsSearch,.textfieldsS,.gallDidaEdit,.textfieldsM,.textfieldsXS,.textfieldsXXS,.textfields,.textArea,.submit_puls,.textAreaS,.textfieldsBirth,.listMenu,.textfieldsBirth,.textfieldsBirthMonth,.textfieldsBirthDay,.textfieldsBirthYear{font-family:Arial,Helvetica,sans-serif;border:#D7D6D4 solid 1px;background-color:#EDEDED;color:#333333;}
.textAreaLang{font-family:Arial,Helvetica,sans-serif;border:#D7D6D4 solid 1px;padding:5px;font-size:1em;width:500px;height:200px;}
.textAreaLangS{font-family:Arial,Helvetica,sans-serif;border:#D7D6D4 solid 1px;padding:5px;font-size:1em;width:380px;height:200px;}
.textfieldsXS{width:120px;padding:2px;}
.textfieldsXXS{width:60px;padding:2px;}
.ui-datepicker-trigger{background-color: #EDEDED;border: 1px solid #D7D6D4;display: block;float: right;padding: 1px;}
#col2 .textfieldsXS{background-color:#FFF;font-size:1em;}
.textfieldsM{width:390px;padding:2px;}
.textfieldsS{width:300px;padding:2px;}
.textfieldsBirth{width:35px;padding:2px;}
.textfieldsBirthMonth{width:115px;}
.textfieldsBirthDay{width:115px;}
.textfieldsBirthYear{width:55px;}
.textfieldsSearch{width:180px;}
.pulsSearch{padding:1px;}
.textfields,.textArea{width:640px;padding:2px;}
.textfields,.gallDidaEdit,.textArea,.textfieldsS,.textfieldsM,.labelBig,.pulsBig,.ok_button,.listMenu,.textfieldsBirth,.textfieldsBirthDay,.textfieldsBirthYear,.textfieldsBirthMonth{font-size:1.3em;}
.pulsS{font-size:1.084em;}
.labelBig{font-weight:bold;vertical-align:middle;}
.radio{vertical-align:middle;}
.pulsE, .countryFilter{background-color:#FFFFFF;border:1px solid #EDEDED;color:#333333;font-size:1em;font-family:Arial,Helvetica,sans-serif;}
.pulsBig,.ok_button, .pulsS,.pulsSearch{background-color:#676565;border:1px solid #676565;color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;vertical-align:middle;}
.pulsBig,.ok_button,.countryFilter{padding:1px;}
.pulsS{width:50px;margin-left:5px;}
.pulsSS{width:38px;height:21px;margin:0px;padding:0px;background-color:#676565;border:1px solid #EDEDED;color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;vertical-align:middle;}
.boxFormSubmit{padding:10px;width:630px;text-align:center;}
.boxFormFull{margin-bottom:10px;width:660px;clear:both;}
.boxFormCol1,.boxFormCol2{float:left;margin-bottom:10px;width:320px;}
.boxFormCol1-3,.boxFormCol2-3,.boxFormCol3-3{float:left;margin-bottom:10px;width:220px;}
.boxFormCol1{margin-right:10px;}
.boxFormCol1_3{float:left;margin-bottom:10px;width:140px;margin-right:10px;}
.boxFormCol2_3{float:left;margin-bottom:10px;width:500px;}
.boxFormCol2_3 .textArea{width:490px;}
.boxForm strong{width:640px;display:block;font-size:1.6em;color:#000000;padding:2px 2px 5px 2px;border-bottom:5px solid #EDEDED;}
.errorMsg{color:#F00;text-align:right;margin:5px;}
.errorMsgField{background-color:#F00;}
.newslettersBox{padding:0 0 0 5px;}
.imgCrop_wrap{margin:0 auto}

a.infoNL{text-decoration:none;position:relative; }
a.infoNL span{position:relative;display:none;}
a.infoNL img{vertical-align:middle;}
a.infoNL:hover{position:relative;cursor:default;}
a.infoNL:hover .infobox{font-weight:normal;display:block;position:absolute;top:20px;left:25px;width:125px;background-color:#f4f4f4;border:1px solid #ccc;color:#000;text-align:left;padding:10px; z-index:100}


a.info{text-decoration:none;position:relative; display:none;}
a.info span{position:relative;display:none;}
a.info img{vertical-align:middle;}
a.info:hover{position:relative;cursor:default;}
a.info:hover .infobox{font-weight:normal;display:block;position:absolute;top:20px;left:25px;width:125px;background-color:#f4f4f4;border:1px solid #ccc;color:#000;text-align:left;padding:10px;}
label,.actions{font-size:1.3em;}
#ac-art_tag-update ul{font-family:sans-serif;left:0;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}
#ac-art_customgenre-update ul{font-family:sans-serif;left:0;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}

.lpm{margin:10px 0 0 0;border:1px solid #FF0000;padding:10px;font-size:14px; background-color:#F5EB00;}
.myPath{margin:10px 0;font-size:10px;font-weight:bold;}
.myPathBig{font-size:1.5em;font-weight:bold;margin:0;padding:0;}
.myPosition{color:#FF0000;}
.myToDo{color:#666666;}
.myDone{color:#000000;}
.lpmSubmit{ margin-top:10px; display:none;}
.lpmClose{display:block;}
.lpmSubmit a{ display:block; font-size:2em;text-align:center;}
.lpmSubmit a:link,.lpmSubmit a:visited,.lpmSubmit a:active{color:#FFFFFF; background-color:#F00;}
.lpmSubmit a:hover{background-color:#FFFFFF; color:#F00;}
.lpmMenu { margin-top:10px; padding-top:5px; font-size:10px;border-top:1px solid #FF0000;}
.lpmMenu ul{ float:left; width:128px;}
.lpmMenu ul a:link,.lpmMenu ul a:visited,.lpmMenu ul a:active{color:#FFFFFF; background-color:#F00; padding:0 2px;}
.lpmMenu ul a:hover{background-color:#FFFFFF; color:#F00;}

.boxRed{background-color:#990000; color:#FFFFFF; font-weight:bold; padding:0 3px;}
.boxGreen{background-color:#009900; color:#FFFFFF; font-weight:bold;padding:0 3px;}
.boxYellow{background-color:#FFFF00; color:#000000; font-weight:bold;padding:0 3px;}
.lpmList{margin:0 0 30px 0;padding:0;list-style:none;}
.lpmList li{margin:0 0 5px 0;}
h4{margin:0 0 10px 0;font-size:1.5em;font-weight:bold;}
.lpmDay{font-size:1.5em;margin:0 0 5px 0;}
.lpmTit{font-size:1.5em;}
.boxTextLpm{background-color:#EEEEEE;display:block;height:103px;overflow:auto;padding:5px;}

.notificationsList{margin:0; padding:0;border-top:#CCC solid 1px;}
.notificaTesto{ display:block; float:left;}
.notificaCancella{ display:block; float:right}
.notificaLi{ display:block; padding:10px 10px 10px 30px; border-bottom:#CCC solid 1px;
  background-image: url("/img/spriteme1.png");height: 12px;display: block;
  background-position:0 -150px;background-repeat: no-repeat;
}
.notificaRead{ background-color:#EEE; }
.notificaUnread{ background-color:#FFFFCC; }
.jewelCount {
-moz-border-radius:2px 2px 2px 2px;
border-radius:2px;
background-color:#F03D25;
color:#FFFFFF;
display:block;
font-size:.75em;
font-weight:bold;
padding:1px 3px;
position:absolute;
right:-2px;
top:-2px;
}
.editButton a{
-moz-border-radius:2px 2px 2px 2px;
border-radius:2px;
background-color:#F03D25;
color:#FFFFFF;
display:block;
font-weight:bold;
padding:1px 3px;
position:relative;
right:-2px;
top:-2px;
}
.editButton a:hover{
background-color:#000000;
}
.bigButton {
	margin-top: 20px;
}
.right.bigButton{
	margin-top: 0px;
	margin-right: 35px;
}
.right.bigButton a{
	font-size:1em;
}
.bigButton a{
-moz-border-radius:8px;
border-radius:8px;
background-color:#F03D25;
color:#FFFFFF;
display:block;
font-size:2em;
text-align: center;
font-weight:bold;
padding:7px 10px;
}
.bigButton a:hover{
background-color:#000000;
}
.loadingFile{background-color:#000000;color:#CCCCCC;display:block;padding:20px;text-align:center;}
#galleryUp_upload_option{margin-top:10px;}
#galleryUp_upload_option ul{margin:5px 0 5px 15px; padding:0 0 0 15px;}


.html{background-color: #FFF}
.windowCol1{margin:10px;}
.windowCol2{margin:10px; text-align: right;}
.windowH3{background-color: #000;color: #FFF; padding:2px 5px;}



.col1half{width:325px;}
.lpmStepMenu li{display: inline;}
.lpmStepMenu{ border-bottom: 1px solid #000000;margin: 0 0 5px;padding: 0 0 5px; list-style: none;}
.inactive{font-weight: bold;color: #CCC;}
.current{font-weight: bold; color: #FF0000;}
.membersList,.performancesList{width: 100%;padding:5px;margin:0; list-style: none;}
.membersList td{padding: 5px;vertical-align: top;}
.price{white-space: nowrap;}
.boxFormLpmSubmit{margin-top: 100px;}

#menuUser,#menuNew {background-color: #FFFFFF;padding: 10px;top: 68px;z-index: 100;}
#menuUser {left: 710px;width: 250px;}
#menuNew {width: 180px;}
#menuUser a{position: relative;}
#menuUser ul,#menuNew ul{margin:0 0 0 10px;padding:0 0 0 10px;}
.col2login{width:150px;float: left;}
.txtPost ul{list-style: none;margin:0;padding:0;}
.new a:link,.new a:active,.new a:visited{background-color:#0000FF;color:#FFF;font-size:1.834em;padding:2px 10px;}
.new a:hover{color:#0000FF;background-color:#FFF;}
.corpSel{color:#0000FF;font-weight: bold;}
.editMode{border: 1px solid #EEE;margin-bottom: 20px;}

#giorno_palinsesto-trigger{padding: 2px 25px 2px 5px;border: 0;background-color:#EEE;background-image: url('/img/calendar.gif');background-position: right;background-repeat: no-repeat;}
#data_nascita-trigger,.data_nascita-trigger,.data_evento-trigger{width:70px; margin-left:3px;padding:6px 5px 6px 25px;border: 0;background-color:#EEE;background-image: url('/img/calendar.gif');background-position: left;background-repeat: no-repeat;}
.sottotitolo{font-size:.9em;}
.overpic{position:absolute; left:0;top:0; background-color:#000;color:#FFF;opacity:.6;padding: 3px;font-size: .7em;}

.programming{width: 100%;}
.programming thead td { font-weight: bold;background-color: #333 ; color: #EEE}
.programming tbody td {height: 30px;background-color: #CCC ;}
.programming td {padding: 10px;margin: 5px;text-align: center;vertical-align: top;width: 14%;}
.programming td.scheduled{background-color: #EEE ;}
.nodescr{color:#CCC;}

#gallery-save{margin:20px 0 0 0;}

.sender{background-color:#EEE;padding:10px;margin-bottom:10px;}
.mainemail{font-size:2em;}
pre{background-color:#EEE;padding:10px;margin:10px 0; border:1px dashed #000;}
.confirm{text-align: center;font-size:1.3em;}
.mess{margin-bottom:20px;}
.mess b{background-color:#EEE;border:1px solid #CCC;padding:3px 6px 2px 6px;}
.buttons input{font-size:1em;font-family: Arial, Helvetica, sans-serif;}
.buttons input.redbox{border:#CC0000 solid 3px;background-color:#EE0000;color:#FFF;font-weight: bold;}
.buttons input.greenbox{border:#00CC00 solid 3px;background-color:#00EE00;color:#FFF;font-weight: bold;}
.redbox{background-color:#CC0000;color:#FFF; padding:1px 3px;}
.greenbox{background-color:#00CC00;color:#FFF; padding:1px 3px;}
.yellowbox{background-color:#FFFF00;color:#000; padding:1px 3px;}
#subscriptions{line-height:1.5em;padding:0;margin:0;}
#subscriptions ul{padding:0;margin:0 0 0 15px;}
#subscriptions ol li {margin-bottom: 20px;}

