/* media sizes for media query */
body {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -0.01em;
  font-size: 15px;
  font-weight: 400;
}
img {
  max-width: 100%;
}
a {
  color: #0f8fcf;
}
.performances a {
  color: #d60000;
  display: block;
}
.performances li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.performances li:hover {
  background: #ccc;
}
a:hover img {
  opacity: 0.6;
}
.tab-pane legend .btn {
  margin-bottom: 5px;
}
.tabs-below .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active a,
.tabs-below > .nav-tabs > .active a:hover,
.tabs-below > .nav-tabs > .active a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left div > .nav-tabs > li,
.tabs-right div > .nav-tabs > li {
  float: none;
}
.tabs-left div > .nav-tabs > li > a,
.tabs-right div > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > div > .nav-tabs {
  border-right: 1px solid #ddd;
}
.tabs-left > div > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > div > .nav-tabs > li > a:hover,
.tabs-left > div > .nav-tabs > li > a:focus {
  border-color: #eee #ddd #eee #eee;
}
.tabs-left > div > .nav-tabs > .active a,
.tabs-left > div > .nav-tabs > .active a:hover,
.tabs-left > div > .nav-tabs > .active a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #eee #ddd;
}
.tabs-right > .nav-tabs > .active a,
.tabs-right > .nav-tabs > .active a:hover,
.tabs-right > .nav-tabs > .active a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff;
}
a:hover img {
  opacity: 0.6;
}
.logo {
  height: 75px;
}
.navbar .brand {
  margin: 0;
}
.user_dett .nav-tabs {
  margin-top: 20px;
}
.stats {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 10px;
}
.stats li {
  line-height: 10px;
}
.main-list .media {
  border-bottom: 1px solid #eee;
  height: 105px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.main-list .media h4 {
  height: 43px;
  overflow: hidden;
}
.submenu {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.submenu .nav {
  margin-bottom: 10px;
}
#menu_search_lang {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
.no-margin-top {
  margin-top: 0;
}
.divider {
  height: 1px;
  background-color: #e5e5e5;
}
.user_dett_ul {
  padding-left: 0;
  padding-right: 0;
}
.user_dett_ul > li > a.btn {
  display: inline;
  padding: 3px 5px;
}
.user_dett_ul > li > a {
  display: inline;
  padding: 0;
}
.user_dett_ul > li > a {
  margin-left: 0;
  margin-right: 0;
}
.user_dett_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user_dett_ul i {
  margin-right: 5px;
}
.user_dett_ul li {
  margin-bottom: 5px;
}
.nav-pills > li > span {
  display: block;
  line-height: 14px;
  margin: 2px 2px 0 0;
  padding: 8px 12px 8px 0;
}
#map_canvas,
#map_canvas_add {
  height: 300px;
}
.modal-backdrop {
  z-index: 998;
}
.modal {
  z-index: 999;
}
#search-map-form {
  margin: 0;
}
#map_canvas_add img {
  max-width: none;
}
.loading-box {
  padding: 1px 5px 6px 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #fff;
}
.datepicker {
  padding: 0;
}
.glyphicon-calendar {
  cursor: pointer;
}
.missing {
  background: #f00;
  color: #fff;
}
.readmore_button {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#user_menu {
  background-color: #0f8fcf;
  border: none;
}
#user_menu {
  color: #fff;
}
#user_menu a {
  color: #fff;
}
#menu_user_interaction {
  background: #e4811e;
  border: none;
}
#menu_user_interaction .dropdown-menu {
  background: #e4811e;
}
#menu_user_interaction a {
  color: #fff;
}
.logo_header_user {
  height: 20px;
}
#menu .navbar {
  margin-bottom: 0px;
}
.user_nav li {
  display: inline-block;
}
@media screen and (max-width: 500px) {
  .user_nav {
    display: none;
  }
}
.logo_banner {
  margin-top: 50px;
  margin-bottom: 15px;
}
#header {
  font-size: 14px;
  font-weight: 300;
}
#header .nav > li > a {
  padding: 15px 5px;
}
.navbar-brand:hover {
  color: #fff !important;
}
.user_manager_button {
  position: absolute;
  display: inline-block;
  height: 33px;
  top: 5px;
  right: 15px;
  color: #fff;
  font-size: 30px;
}
.user_manager_button:active,
.user_manager_button:hover {
  color: #fff !important;
}
.user_dett_bkg {
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 80px;
}
@media screen and (max-width: 500px) {
  .user_dett_bkg {
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
}
.performer_geolocalization img {
  max-width: 100%;
}
.performer_geolocalization h1 {
  font-size: 22px;
  margin-top: 0;
  font-weight: 200;
  margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
  .performer_geolocalization {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .performer_map {
    display: none;
  }
}
.user_dett ul {
  padding-left: 0;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .performer_summary ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    -webkit-column-rule: 1px outset #a9abad;
    -moz-column-rule: 1px outset #a9abad;
    column-rule: 1px outset #a9abad;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
.visual_header_performer_summary {
  background: url("../img/performer_summary.png");
  height: 165px;
  background-position: right;
}
.performer_summary_box {
  background: none;
  border-top: 5px solid #f2f2f2;
  height: 165px;
}
@media screen and (min-width: 992px) {
  .performer_summary_box {
    background: #f2f2f2;
    border-top: none;
  }
}
@media screen and (max-width: 500px) {
  .performer_summary_box {
    width: 100%;
    height: auto;
    border-top: none;
  }
}
@media screen and (max-width: 500px) {
  .performer_summary {
    width: 100%;
    display: none;
  }
}
.performer_summary_box ul {
  padding: 10px 0;
}
@media screen and (min-width: 992px) {
  .performer_summary_box ul {
    padding: 15px 0;
  }
}
@media screen and (max-width: 500px) {
  .performer_summary_box ul {
    padding: 0;
  }
}
.performer_summary_box ul li {
  line-height: 25px;
}
@media screen and (max-width: 500px) {
  .performer_summary_box ul li {
    display: inline-block;
  }
}
.performer_details_wrapper {
  border-left: 1px solid #0f8fcf;
  border-right: 1px solid #0f8fcf;
  padding: 0 15px;
  height: 165px;
}
@media screen and (max-width: 500px) {
  .performer_details_wrapper {
    border-left: none;
    border-right: none;
    padding: 0;
    height: auto;
    display: none;
  }
}
.performer_details_wrapper ul {
  border-top: 5px solid #0f8fcf;
  padding-top: 12px;
}
@media screen and (max-width: 500px) {
  .performer_details_wrapper ul {
    border-top: 0;
  }
}
.performer_details_wrapper ul li {
  line-height: 24px;
}
@media screen and (max-width: 500px) {
  .performer_details_wrapper ul li {
    display: inline-block;
  }
}
@media screen and (max-width: 500px) {
  .performer_details {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .avatar_map {
    width: 100%;
  }
}
/**/
/* Performer */
/**/
.main_boxes_bkg {
/*background #F8F6F6*/
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 15px;
}
.main_performer_box ul,
.events_performer ul,
.crews_performer ul {
  list-style: none;
  padding-left: 0;
  float: left;
  width: 100%;
}
.performer_geolocalization .country_geoloc {
  color: #0f8fcf;
}
.performer_avatar img {
  max-width: 100%;
  border-radius: 50%;
}
@media screen and (max-width: 500px) {
  .performer_avatar {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .main_box_performer {
    margin-bottom: 15px;
  }
}
.main_box_performer a {
  color: #414042;
}
.box_header {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0 5px;
  float: left;
  margin-bottom: 10px;
}
.box_header .diagonale {
  height: 34px;
  left: 0px;
  position: relative;
  top: 10px;
  width: 22px;
}
.box_header .title_str {
  color: #fff;
  padding: 5px 10px;
}
.box_header.box_performer_header .title_str {
  background-color: #0f8fcf;
}
.box_header.box_events_header .title_str {
  background-color: #e4811e;
}
.box_header.box_crews_header .title_str {
  background-color: #004431;
}
.box_wrapper {
  border: 1px solid;
  border-radius: 0 10px 0 0;
}
.performances_performer .box_wrapper {
  border-color: #0f8fcf;
}
.events_performer .box_wrapper {
  border-color: #e4811e;
}
.crews_performer .box_wrapper {
  border-color: #004431;
}
.main_event_title,
.main_performance_title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0 5px;
}
@media screen and (max-width: 768px) {
  .main_event_title,
  .main_performance_title {
    padding: 0 15px;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .main_event_title,
  .main_performance_title {
    margin: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .main_performance_title_wrapper,
  .main_event_title_wrapper {
    padding: 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .main_performance_title_wrapper,
  .main_event_title_wrapper {
    padding: 0;
  }
}
.main_performace_image {
  height: 186px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main_performace_image {
    height: auto;
    padding: 0;
  }
}
@media screen and (min-width: 1px) {
  .main_performace_image_wrapper {
    margin-bottom: 10px;
  }
}
.main_performer_box {
  font-size: 14px;
}
.main_performer_box p {
  margin-bottom: 0;
}
.main_performer_box i {
  color: #0f8fcf;
  display: inline-block;
  margin-right: 5px;
}
.evidence-performance_stats .stat.value {
  color: #0f8fcf;
}
.main_performer_box .performance_owner {
  font-weight: 500;
}
.secondary_performance_wrapper {
  background: #dedfdf;
}
@media screen and (max-width: 768px) {
  .secondary_performance_wrapper {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .secondary_performance_wrapper {
    background: none;
  }
}
.secondary_performance h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  position: relative;
  top: 26px;
  font-weight: 600;
}
.secondary-performace_image img,
.secondary-event_image img {
  width: 60px;
  height: 60px;
}
.secondary-performace_image,
.secondary-event_image {
  padding: 0;
  width: 60px;
}
.secondary_performance {
  padding: 10px 0;
  float: left;
  width: 100%;
  display: none;
}
@media screen and (max-width: 500px) {
  .secondary_performance {
    display: none;
  }
}
.more_button {
  background: #dedfdf;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 600;
}
.main_box_performer .more_button {
  float: left;
  width: 100%;
}
.more_button.more_performance a {
  color: #0f8fcf;
}
.more_button.more_events a {
  color: #e4811e;
}
.big_slash {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -0.55em;
  margin-left: 15px;
  position: absolute;
  text-shadow: 2px 0 0;
  top: 0;
}
.events_performer i.fa {
  color: #e4811e;
  display: inline-block;
  margin-right: 5px;
}
.main_event_details p {
  margin-bottom: 5px;
}
.main_event_details {
  margin-bottom: 15px;
}
.main_event_details .event_date {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.secondary_events {
  background: #dedfdf;
  padding: 10px 15px;
  float: left;
  width: 100%;
  display: none;
}
@media screen and (max-width: 500px) {
  .secondary_events {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .secondary_events {
    background: none;
  }
}
.secondary_event h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.secondary_event .event_date {
  font-size: 12px;
}
.secondary_event_title {
  padding-right: 0px;
}
.main_crews-box img {
  height: 100px;
  width: 100px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .main_crews-box img {
    height: 91px;
    width: 91px;
  }
}
.main_crews-box h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.main_crews-box {
  padding: 15px;
}
.secondary_crew {
  width: 20%;
}
.secondary_crew_container {
  background: #dedfdf;
  margin: 0;
  text-align: center;
  padding: 15px !important;
  display: none;
}
.more_crews.more_button a {
  color: #004431;
}
.about-bkg {
  background: #333 none repeat scroll 0 0;
  color: #fff;
  font-weight: 300;
  padding: 30px 0;
}
@media screen and (min-width: 768px) {
  .about_performer {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    -webkit-column-rule: 1px outset #fff;
    -moz-column-rule: 1px outset #fff;
    column-rule: 1px outset #fff;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
.about_performer h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.secondary_box_wrapper {
  border: 1px solid #fff;
  float: left;
  width: 100%;
}
.secondary_boxes_bkg {
  background: #333 none repeat scroll 0 0;
  color: #fff;
  font-weight: 300;
  padding: 30px 0;
}
.secondary_box_header {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0 15px;
  text-transform: uppercase;
}
.box_stats ul {
  margin: 0;
}
.box_stats {
  background: rgba(51,51,51,0.8) none repeat scroll 0 0;
  height: 21px;
  margin-bottom: -21px;
  opacity: 0.9;
  position: relative;
  width: 100%;
  font-size: 14px;
}
.box_stats i.fa,
.box_other_infos i.fa,
.playlist_categories_list i.fa,
.gallery_details span.icon_at,
.gallery_details i.fa {
  color: #fff;
  margin-right: 5px;
}
.secondary_box h3 {
  margin: 10px 0;
  font-size: 20px;
}
.secondary_box .more_button {
  background: #303030 none repeat scroll 0 0;
}
.secondary_box {
  margin-bottom: 30px;
  float: left;
}
@media screen and (max-width: 768px) {
  .secondary_box {
    width: 100%;
  }
}
.box_other_infos {
  font-size: 10px;
  margin-bottom: 0;
}
.box_other_infos .fa-floppy-o {
  margin-left: 3px;
}
.single_footage {
  margin-bottom: 30px;
}
.single_footage h3 {
  color: #fff;
}
.playlist_categories_list {
  font-size: 13px;
}
@media screen and (min-width: 992px) {
  .playlist_categories_list {
    font-size: 10px;
  }
}
.gallery_details {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gallery_details li {
  padding: 0 5px 0 0;
}
.gallery_box .gallery_thumb {
  height: 164px;
  width: 247px;
}
@media screen and (max-width: 768px) {
  .gallery_box .gallery_thumb {
    width: 100%;
    height: auto;
  }
}
.gallery_thumb_container {
  min-height: 200px;
}
svg.coda {
  width: 52px;
  position: relative;
  top: 10px;
  margin-top: -10px;
  left: -1px;
}
.slash_svg {
  position: absolute;
  top: 15px;
  width: 48px;
}
.secondary_box .slash_svg {
  top: 0;
}
.secondary_box .slash_svg.before_title {
  margin-left: 5px;
}
.slash_after_title .title_string {
  margin-left: 55px;
}
.slash_svg.more_secondary_box {
  top: 10px;
}
.secondary_box a {
  color: #0f8fcf;
}
.title_and_info_container h3 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px;
}
.title_and_info_container {
  background: rgba(51,51,51,0.8) none repeat scroll 0 0;
  font-size: 14px;
  height: 80px;
  margin-bottom: -80px;
  opacity: 0.9;
  padding: 10px;
  position: relative;
  top: -80px;
  width: 100%;
}
.single_playlist,
.single_tvshow,
.single_gallery {
  margin-bottom: 30px;
}
.single_gallery .image_box {
  min-height: 163px;
}
.box_wrapper.coloured {
  border-radius: 0px;
}
.box_performer_header {
  top: 10px;
}
.performances_performer .box_wrapper.coloured {
  border-color: #0f8fcf;
  background: #0f8fcf none repeat scroll 0% 0%;
}
.performances_performer .box_wrapper.coloured .main_performer_box {
  color: #fff;
}
.performances_performer .box_wrapper.coloured a {
  color: #fff;
}
.performances_performer .box_wrapper.coloured i,
.performances_performer .box_wrapper.coloured .stat.value {
  color: #0c2e4c;
}
.performances_performer .box_wrapper.coloured .more_button a {
  color: #0f8fcf;
}
.performances_performer .box_wrapper.coloured .secondary_performance a {
  color: #414042;
}
.events_performer .box_wrapper.coloured {
  border-color: #e4811e;
  background: #e4811e none repeat scroll 0% 0%;
}
.events_performer .box_wrapper.coloured .main_event_box {
  color: #fff;
}
.events_performer .box_wrapper.coloured a {
  color: #fff;
}
.events_performer .box_wrapper.coloured i,
.events_performer .box_wrapper.coloured .stat.value {
  color: #5c2e15;
}
.events_performer .box_wrapper.coloured .more_button a {
  color: #e4811e;
}
.events_performer .box_wrapper.coloured .secondary_event {
  color: #414042;
}
.crews_performer .box_wrapper.coloured {
  border-color: #004431;
  background: #004431 none repeat scroll 0% 0%;
}
.crews_performer .box_wrapper.coloured {
  color: #fff;
}
.crews_performer .box_wrapper.coloured a {
  color: #fff;
}
.crews_performer .box_wrapper.coloured i,
.crews_performer .box_wrapper.coloured .stat.value {
  color: #005b3f;
}
.crews_performer .box_wrapper.coloured .more_button a {
  color: #004431;
}
.crews_performer .box_wrapper.coloured .secondary_event {
  color: #414042;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}
#content {
  padding-top: 32px;
  padding-bottom: 32px;
}
footer.main_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #303030;
  height: 240px;
  padding: 60px 0;
  color: #fff;
}
.logo_piede {
  width: 100px;
}
.footer_menu ul {
  padding: 15px 0 5px;
  margin: 0;
}
.footer_menu ul li {
  padding-left: 0;
  padding-right: 15px;
}
.nocopy {
  font-weight: 200;
  font-size: 12px;
}
.logo_flyer img {
  width: 50px;
}
.list_item_performer {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .list_item_performer {
    width: 100%;
    padding: 0 15%;
  }
}
.list_item_performer a {
  color: #333;
}
.list_item_performer .box_wrapper {
  border-style: solid;
  float: left;
  width: 100%;
}
.list_item_performer .main_performace_image {
  max-height: 100px;
}
.list_bkg {
  background: #f8f6f6;
}
.list_page_title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
}
.list_item_performer i {
  display: inline-block;
  margin-right: 5px;
}
.performances_performer.list_item_performer i {
  color: #0f8fcf;
}
.list_item_performer .main_event_details {
  margin: 15px 0;
}
.list_page .list_page_title i {
  display: inline-block;
  padding: 0 10px;
}
.performances_list .list_page_title i {
  color: #fff;
}
.events_list .list_page_title i {
  color: #fff;
}
.title_performer_list_bkg {
  margin-bottom: 30px;
}
.events_list .title_performer_list_bkg {
  background: #e4811e;
}
.performances_list .title_performer_list_bkg {
  background: #0f8fcf;
}
.crews_list .title_performer_list_bkg {
  background: #004431;
}
.crews_list .list_page_title i {
  color: #fff;
}
.list_page .list_page_sez {
  font-weight: 600;
}
.list_page .list_page_user {
  font-weight: 200;
}
.list_page .slash_svg {
  margin-top: 0px;
  position: relative;
  top: 11px;
  width: 48px;
  margin-right: 5px;
}
.performances_list .list_page_title polyline {
  fill: #fff;
}
.events_list .list_page_title polyline {
  fill: #fff;
}
.crews_list .list_page_title polyline {
  fill: #fff;
}
.footage_list .list_item_performer,
.gallery_list .list_item_performer,
.playlists_list .list_item_performer,
.footage_list .list_page_title,
.gallery_list .list_page_title,
.playlists_list .list_page_title,
.footage_list .list_item_performer a,
.gallery_list .list_item_performer a,
.playlists_list .list_item_performer a {
  color: #fff;
}
.footage_list polyline,
.playlists_list polyline,
.gallery_list polyline {
  fill: #fff;
}
.footage_list,
.gallery_list,
.playlists_list {
  background: #333;
}
.list_item_performer.gallery_performer .image_box img {
  min-height: 150px;
}
.list_item_performer.gallery_performer {
  min-height: 150px;
}
.single_event_thumb_container {
  position: relative;
  float: left;
  width: 100%;
}
.single_event_thumb_container .overlay_container {
  color: #fff;
  background: rgba(51,51,51,0.8) none repeat scroll 0 0;
  width: 100%;
  padding: 15px 30px;
}
.event_events_list {
  margin: 15px 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.event_events_list .event_list_content_container {
  padding: 5px 10px;
  margin-bottom: 15px;
  color: #fff;
  background: url("../img/single_event_list_bkg.png");
  background-position: right;
  background-color: #e4811e;
}
.event_events_list i {
  margin-right: 5px;
}
.event_events_list span {
  display: block;
}
.single_event_page {
  margin-top: 80px;
}
.single_event_page a {
  color: #e4811e;
}
.tabs-bkg {
  margin-top: 30px;
}
.nav-tabs {
  border-bottom: 1px solid #e4811e;
  margin-bottom: 30px;
}
.single_event_page .nav-tabs>li.active>a,
.single_event_page .nav-tabs>li.active>a:hover,
.single_event_page .nav-tabs>li.active>a:focus {
  border: none;
  color: #fff;
  background: url("../img/single_event_list_bkg.png");
  background-position: right;
  background-color: #e4811e;
}
.single_event_page .nav-tabs>li>a,
.single_event_page .nav-tabs>li>a:hover,
.single_event_page .nav-tabs>li>a:focus {
  border: none;
  margin: 0px;
}
.nav-tabs>li>a {
  border-radius: 0;
  color: #e4811e;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -2px;
  padding: 0;
  margin: 0;
}
.nav-tabs>li>a:hover {
  border-color: none;
}
.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: none !important;
}
.date_bkg {
  background: #e4811e url("../img/single_event_list_bkg.png") repeat scroll right center;
  color: #fff;
  margin-bottom: 30px;
  border-bottom: 1px solid #e4811e;
  border-top: 1px solid #e4811e;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.single_event_details li span.value {
  color: #e4811e;
}
.single_date_of_series h3,
.single_partner_of_series h3 {
  margin: 15px 0;
}
.single_event-room_title {
  margin: 0 0 15px 0px;
}
.single_event_page .performances_performer .box_wrapper {
  border-color: #e4811e;
}
.single_event_page .evidence-performance_stats .stat.value {
  color: #e4811e;
}
.btn-info.paticipate {
  color: #fff;
  top: 15px;
  position: relative;
  background: #e4811e;
  border: none;
}
.btn-info.paticipate:hover {
  background: #fff;
  color: #e4811e;
}
.website,
.phonenumber {
  margin-bottom: 16px;
}
.dropzone {
  border: 3px dashed #ccc;
  padding: 16px;
  margin: 16px 0;
}
.dropzone.dz-drag-hover {
  background-color: #f2f2f2;
}
.progress {
  display: none;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48;
  background-color: #f2dede !important;
  border: 1px solid #eed3d7;
}
.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.parsley-errors-list.filled {
  opacity: 1;
}
.subtitle.input-group {
  width: 100%;
}
.subtitle.input-group .input-group-addon {
  text-align: right;
  width: 130px;
}
.map {
  width: 100%;
  height: 400px;
}
