a:hover img {
  opacity: 0.6;
}
.user_dett {
  margin-top: 50px;
}
.user_dett_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user_dett_ul i {
  margin-right: 5px;
}
.user_dett_ul li {
  margin-bottom: 5px;
}
.navbar .brand {
  margin: 0;
}
.user_dett .nav-tabs {
  margin-top: 20px;
}
.stats {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 10px;
}
.stats li {
  line-height: 10px;
}
.main-list .span3 {
  border-bottom: 1px solid #eee;
  height: 105px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.main-list .span3 h4 {
  height: 43px;
  overflow: hidden;
}
.submenu {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.submenu .nav {
  margin-bottom: 10px;
}
.row .navbar .nav > li > a {
  padding: 10px 10px;
}
.navbar-inner {
  padding-left: 5px;
  padding-right: 5px;
}
