body
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -0.01em;
  font-size: 15px;
  font-weight: 400;

img
  max-width 100%

.performances a {
  color #D60000
  display block
}

.performances li
  border-bottom 1px solid #cccccc
  padding 10px

.performances li:hover
  background #ccc


a:hover img{opacity:.6;}
.tab-pane legend .btn
  margin-bottom 5px
.tabs-below, .tabs-right, .tabs-left {
  .nav-tabs {
    border-bottom: 0;
  }
}


.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below {
  > .nav-tabs {
    border-top: 1px solid #ddd;

    > li {
      margin-top: -1px;
      margin-bottom: 0;

      > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;

        &:hover, &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}

.tabs-left, .tabs-right {
  div > .nav-tabs > li {
    float: none;

    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
  }
}

.tabs-left > div > .nav-tabs {
  border-right: 1px solid #ddd;

  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;

    &:hover, &:focus {
      border-color: #eee #ddd #eee #eee;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd transparent #ddd #ddd;
*border-right-color: #fff;
}
}
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;

  > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;

    &:hover, &:focus {
      border-color: #eee #eee #eee #ddd;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd #ddd #ddd transparent;
*border-left-color: #fff;
}
}
}





a:hover img{opacity:.6;}
.logo{height:75px;}
.user_dett{margin-top:70px;}
.navbar .brand{margin:0;}
.user_dett .nav-tabs{margin-top:20px;}
.stats{list-style:none;margin:0 0 5px 0;padding:0;font-size:10px;}
.stats li{line-height:10px;}
.main-list .media{border-bottom: 1px solid #EEEEEE;height: 105px;margin-bottom: 20px;padding-bottom: 10px;}
.main-list .media h4{height: 43px;overflow:hidden;}

.submenu{border-bottom: 1px solid #EEEEEE;margin-bottom:20px;}
.submenu .nav{margin-bottom:10px;}
#menu_search_lang
  border-top-left-radius 0
  border-top-right-radius 0
  border-top 0
.no-margin-top
  margin-top 0
.divider
  height 1px
  background-color #e5e5e5
.user_dett_ul {padding-left: 0;padding-right: 0;}
.user_dett_ul > li > a.btn{display:inline;padding: 3px 5px;}
.user_dett_ul > li > a{display:inline;padding:0;}
.user_dett_ul > li > a{margin-left:0;margin-right: 0;}
.user_dett_ul{list-style:none;margin:0;padding:0;}
.user_dett_ul i{margin-right:5px;}
.user_dett_ul li{margin-bottom:5px;}
.nav-pills > li > span {
	display: block;
    line-height: 14px;
    margin: 2px 2px 0 0;
    padding: 8px 12px 8px 0;
}
#map_canvas,#map_canvas_add{height: 300px;}
.modal-backdrop{z-index:998;}
.modal{z-index:999;}
#search-map-form{margin:0;}
#map_canvas_add img{max-width:none}
.loading-box{padding:1px 5px 6px 5px;border-radius:5px;border: 1px solid #EEEEEE;background-color:#FFF;}
.datepicker{padding:0;}
.glyphicon-calendar{cursor: pointer;}


// DONOSTIA //

// general //

.missing
  background red
  color: #ffffff

// header performer //

.user_dett_bkg
  padding-bottom 15px
  margin-bottom 15px

.performer_geolocalization img {
  max-width 100%
}

.performer_geolocalization h1 {
  font-size: 22px;
  margin-top: 0;
  font-weight: 200;
  margin-bottom: 5px;
}
.user_dett ul {
  padding-left 0
  list-style none
}

.performer_summary ul {
  columns 2
  -webkit-columns 2
  -moz-columns 2
  -webkit-column-rule: 1px outset #A9ABAD; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px outset #A9ABAD; /* Firefox */
  column-rule: 1px outset #A9ABAD;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.visual_header_performer_summary
  background url('../img/performer_summary.png')
  height 165px
  background-position right

.performer_summary_box
  background #F2F2F2
  height 165px

.performer_summary_box ul
  padding 15px 0

.performer_summary_box ul li
  line-height 25px

.performer_details_wrapper
  border-left 1px solid #0F8FCF
  border-right 1px solid #0F8FCF
  padding 0 15px
  height 165px

.performer_details_wrapper ul
  border-top 5px solid #0f8fcf
  padding-top 12px

.performer_details_wrapper ul li
  line-height 24px

/**/
/* Performer */
/**/
.main_boxes_bkg
  background #F8F6F6
  padding-bottom 30px

.main_performer_box ul
.events_performer ul
.crews_performer ul
  list-style none
  padding-left 0

.performer_geolocalization .country_geoloc
  color: #0f8fcf

.performer_avatar img
  max-width 100%
  border-radius 50%

// main boxes
.main_box_performer a
  color #414042

.box_header
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0 5px;
  
.box_header .diagonale
  height: 34px;
  left: 0px;
  position: relative;
  top: 10px;
  width: 22px;
.box_header .title_str
  color #ffffff
  padding: 5px 10px;

.box_header.box_performer_header .title_str
  background-color: #0f8fcf
.box_header.box_events_header .title_str
  background-color: #E4811E
.box_header.box_crews_header .title_str
  background-color: #004431

.box_wrapper
  border: 1px dashed;
  border-radius: 0 10px 0 0;
  border-bottom 1px solid
.perfomances_performer .box_wrapper
  border-color #0F8FCF
.events_performer .box_wrapper
  border-color #E4811E
.crews_performer .box_wrapper
  border-color #004431
.main_event_title, .main_performance_title
  font-size 18px
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0 5px;

.main_performace_image
  height: 186px;
  width: 100%;
  margin-bottom 10px
.main_performer_box
  font-size 14px
.main_performer_box p
  margin-bottom 0
.main_performer_box i
  color #0f8fcf
  display inline-block
  margin-right 5px

.evidence-performance_stats .stat.value
  color #0f8fcf

.main_performer_box .performance_owner
  font-weight 500
.secondary_performance_wrapper
  background #DEDFDF
.secondary_performance h3, .secondary_performance h3
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    position: relative;
    top: 26px;
    font-weight: 600;
.secondary-performace_image img, .secondary-event_image img
  width: 60px;
  height: 60px;
.secondary-performace_image, .secondary-event_image
  padding: 0;
  width: 60px;
.secondary_performance
  padding 10px 0
  float left
  width 100%
.more_button
  background: #dedfdf;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 600;
.more_button.more_performance a
  color #0f8fcf
.more_button.more_events a
  color #E4811E
.big_slash {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -0.5em;
  margin-left: 15px;
  position: absolute;
  text-shadow: 4px 0 0;
  top: 0;
}

.events_performer i.fa
  color #e4811e
  display: inline-block;
  margin-right: 5px;
.main_event_details p
  margin-bottom 5px
.main_event_details
  margin-bottom 15px
.main_event_details .event_date
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  
.secondary_events
  background: #DEDFDF
  padding 10px 15px
.secondary_event h3
  font-size 14px
  font-weight 600
  text-transform uppercase
  margin 0 0 5px 0
.secondary_event .event_date
  font-size: 12px
.secondary_event_title
  padding-right 0px

.main_crews-box img
  height 100px
  width 100px
.main_crews-box h3
  font-size 18px
  font-weight 600
  text-transform uppercase
  margin 0 0 5px 0
.main_crews-box
  padding: 15px
.secondary_crew
  width: 20%
.secondary_crew_container
  background #DEDFDF
  margin 0
  text-align center
  padding 15px !important
.more_crews.more_button a
  color #004431

.about-bkg
  background: #333 none repeat scroll 0 0;
  color: #fff;
  font-weight: 300;
  padding: 30px 0;
.about_performer
  columns 2
  -webkit-columns 2
  -moz-columns 2
  -webkit-column-rule: 1px outset #fff; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px outset #fff; /* Firefox */
  column-rule: 1px outset #fff;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
.about_performer h2
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: uppercase;
.secondary_box_wrapper
  border: 1px solid #fff;
  float: left;
  width: 100%;
.secondary_boxes_bkg
  background: #333 none repeat scroll 0 0;
  color: #fff;
  font-weight: 300;
  padding: 30px 0;
.secondary_box_header .big_slash
  margin-right: 20px;
  position: relative;
  top: 3px;
.secondary_box_header
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: uppercase;
.box_stats ul
  margin 0
.box_stats
  background: rgba(51, 51, 51, 0.8) none repeat scroll 0 0;
  height: 21px;
  margin-bottom: -21px;
  opacity: 0.8;
  position: relative;
  width: 100%;
  font-size 14px
.box_stats i.fa, .box_other_infos i.fa, .playlist_categories_list i.fa, .gallery_details span.icon_at, .gallery_details i.fa
  color #fff
  margin-right 5px
.secondary_box h3
  margin 10px 0
  font-size 20px
.secondary_box .more_button
  background #303030 none repeat scroll 0 0
.secondary_box
  margin-bottom 30px
.box_other_infos
  font-size 13px
.single_footage
  height 210px
.playlist_categories_list
  font-size 13px
.single_tvshow
  height 270px
.gallery_details
  padding: 0
  margin 0
  list-style none
.gallery_box .gallery_thumb
  height 164px
  width 247px