.qq-uploader { position:relative; width: 100%;margin-top: 10px;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 100%; padding: 7px 0; text-align:center;    
    background:#0000FF; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#00aaff;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    height:100%; height: 70px;
    background:#FFF; text-align:center; position:relative; margin-bottom:10px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    border:3px dotted #CCC;
    font-size: 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 36%; width:100%;  font-size:15px;color: #CCC;
}

.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:10px 0 0 0; padding:0; list-style:none;}
.qq-upload-list li { margin:5px 0 0 0; padding:5px; line-height:15px; font-size:12px;background-color: #FFFFFF;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("/_images/loading-small.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;color: #FF0000;font-weight: bold;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
