- if (typeof(username) === 'undefined' && typeof(span) === 'undefined') span = "3"
div(class="col-md-"+span)
	.media
		.pull-left
			a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+_config.sections[sez].basepath+"/"+box.permalink+"/")
				img.media-object(alt=__("Thumbnail of")+": "+box.title, src=Fnc.getFileFormat(box.files, 90, 68))
		.media-body
			h4.media-heading
				a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+_config.sections[sez].basepath+"/"+box.permalink+"/")=box.title
			ul.stats
				li=__("Visits")+": "+box.stats.visits
			ul.stats
				- for(item in box.stats)
					- if (item!="visits")
						li=__(item)+": "+box.stats[item]
