- if (typeof(username) === 'undefined' && typeof(span) === 'undefined') span = "6"
	div.list_item_performer.grid-item.col-sm-4(class="col-md-" + span + " "+sez+"_performer")
		.box_wrapper.col-sm-12

			a.main_event_title_wrapper(href="/" + box.permalink, title=box.display_name)
				h3.main_event_title= box.display_name
			a.main_performace_image_wrapper(href="/" + box.permalink, title=box.display_name)
				img.main_performace_image(src=box.files ? box.files[0].file : '')
			.main_event_box
				.main_event_details
					ul
						li
							=box.stats.members +__(" Members")
						- if(box.stats.performances)
							li
								= box.stats.performances +__(" Performances")
						- if(box.stats.events)
							li
								= box.stats.events +__(" Events")