ul.nav.nav-pills
	li(class=(subsez=="public" ? "active" : undefined))
		a(href="/controlpanel/crews/"+result.permalink+"/")=__("Public data")
	li(class=(subsez=="mainimage" ? "active" : undefined))
		a(href="/controlpanel/crews/"+result.permalink+"/mainimage/")=__("Main image")
	li(class=(subsez=="members" ? "active" : undefined))
		a(href="/controlpanel/crews/"+result.permalink+"/members/")=__("Members")
br
