- function getFileFormat(source, format) {
-	var folder = source.substring(0,source.lastIndexOf("/")+1);
-	var file = source.substring(source.lastIndexOf("/"),source.length);
//-	console.dir(folder);
//-	console.dir(file);
//-	console.dir(format);
-	return "https://flxer.net"+folder+format+file;
- }
