ul.nav.nav-tabs
	li(class=(locals.sez=="user" ? "active" : undefined))
		a(href="/controlpanel/user/")=__("User")
	li(class=(locals.sez=="performers" ? "active" : undefined))
		a(href="/controlpanel/crews/")=__("Crews")
	- each item in _config.sections
		- console.dir(locals.sez)
		- if(item.basepath!="performers")
			li(class=(locals.sez==item.basepath ? "active" : undefined))
				a(href="/controlpanel/"+item.basepath+"/")=item.title
