.clearfix.submenu
	- if (config.sections[sez].categories)
		.pull-left
			ul.nav.nav-pills
				li.disabled
					//a(href="#")=config.sections[sez].title
					- for (item in config.sections[sez].categories)
						li(class=(filter==config.sections[sez].categories[item] ? "active" : ""))
							a(href="/"+config.sections[sez].basepath+"/"+config.sections[sez].categories[item]+"/")=config.sections[sez].labels[config.sections[sez].categories[item]]
		.pull-right
			ul.nav.nav-pills
				- for (item in config.sections[sez].orders)
					li(class=(sort==config.sections[sez].orders[item] ? "active" : ""))
						a(href="/"+config.sections[sez].basepath+"/"+filter+"/"+config.sections[sez].orders[item]+"/")=config.sections[sez].labels[config.sections[sez].orders[item]]
