- if (_config.sections[locals.sez].categories)
	ul.nav.nav-pills
		li.disabled
			a(href="#")=_config.sections[locals.sez].title
			- for (item in _config.sections[locals.sez].categories)
				li(class=(locals.filter==_config.sections[locals.sez].categories[item] ? "active" : ""))
					a(href="/"+_config.sections[locals.sez].basepath+"/"+_config.sections[locals.sez].categories[item]+"/")=_config.sections[locals.sez].labels[_config.sections[locals.sez].categories[item]]
ul.nav.nav-pills
	- for (item in _config.sections[locals.sez].orders)
		li(class=(locals.sort==_config.sections[locals.sez].orders[item] ? "active" : ""))
			a(href="/"+_config.sections[locals.sez].basepath+"/"+locals.filter+"/"+_config.sections[locals.sez].orders[item]+"/")=_config.sections[locals.sez].labels[_config.sections[locals.sez].orders[item]]
