- console.log (_config.thumbnails)
input#img_arr(type="hidden",name="img_arr",value=result.files && result.files.length ? result.files[result.files.length-1].file : undefined)
- if (result.files)
	- for (a=0;a<_config.thumbnails.length;a++)
		p
				a(href="#",onclick="editThumbnail(this)",onmouseover="$(this).find('.hide').show()",onmouseout="$(this).find('.hide').hide()")
					img#avatar_old_img(src=Fnc.getFileFormat(result.files,_config.thumbnails[a].width,_config.thumbnails[a].height))
					span.hide=__("Edit thumbnail")
- else
	p
		img#avatar_old_img(src=Fnc.getFileFormat(result.files,_config.thumbnails[0].width,_config.thumbnails[0].height))
