.form-group
	label.col-sm-2.control-label=__("Web sites")
	.col-sm-10
		#websites
			- if (!result.websites) result.websites = [""]
			each website in result.websites
				.clearfix
					.input-group
						input(autocomplete="off", name="websites[]", value=website, type="text", placeholder="http://").form-control
						span.input-group-btn
							button.btn(onclick="websiteRemove(this);return false;")
								i.glyphicon.glyphicon-remove
					br
		.text-right
			a.btn.btn-primary(href="#", onclick="websiteAdd();return false;")
				i.glyphicon.glyphicon-plus.glyphicon.glyphicon-white
				!=" "+__("Add a Website")
	hr