.control-group
	label.control-label=__("Web sites")
	.controls
		#websites
			- if (!result.websites) result.websites = [""]
			each website in result.websites
				.clearfix
					.input-append
						input(autocomplete="off", name="websites[]", value=website, type="text", placeholder="http://").input-xxlarge
						button.btn(onclick="websiteRemove(this);return false;")
							i.icon-remove
						br
						br
		.text-right
				a.btn.btn-mini.btn-primary(href="#", onclick="websiteAdd();return false;")
					i.icon-plus.icon-white
					!=" "+__("Add a Website")
	hr