.modal-search_members.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h3=__("Search members")
			.modal-body
				#search-map-form.form-inline
					input#find_input.form-control(placeholder=__("Search a member"),type="text")
					button#find.btn(type="button")=__("SEARCH")
					#search_result
					#invite
				script(type="text/javascript").
					$("#find").click(function(){
						findMembers($("#find_input").val());
					});

			.modal-footer
				button(data-dismiss="modal").cancel.btn=__("Close")
