extends ../list-layout

block list
	include ./menu
	h2=__("calls")
	a.btn.btn-primary(href="calls/new")
		i.fa.fa-plus
		=" "
		=__("add call")
	if result.settings.call.calls
		ul
			each call in result.settings.call.calls
				li
					a(href="calls/#{call._id}")=call.title
	else
		p.bg-info=__("no calls")
