extends ../form-layout

block form
	include ./menu
	h2=__("image")
	img(src="#{image}")
	form.form-horizontal(method="post", enctype="multipart/form-data")
		input(type="file", name="image")
		input(type="submit", value=__("Save")).btn.btn-primary.btn-lg
