extends ../layout

block variables
	- var activeChapter='events'
	- var activeSection='image'

block inner-content
	include ./menu
	+render-alerts(alerts)
	//- FIXME TBD after controlpanel > user > image is defined
