.panel.panel-default
	ul.nav.nav-pills
		each section in config.controlpanel.events.sections
			if activeSection == section
				li.active
					a(href="/controlpanel/events/#{result.permalink}/#{section}")=__(section)
			else
				li
					a(href="/controlpanel/events/#{result.permalink}/#{section}")=__(section)
