//
   Created by gianlucabernardo on 24/06/16.

include ../mixins
extends ../layout-fluid_affix
block content
    .container
        .col-sm-8
            block user-content
        .col-sm-4
            include ./menu_small
            include ./summary_small

