nav.navbar.navbar-inverse#user_menu
	ul.nav.navbar-nav.pull-left
		li
			a(href="/"+user.permalink)
				!='<i class="fa fa-user"></i> '+user.display_name
		each stat, name in user.stats
			li
				a(href="/#{user.permalink}/#{name}/")=__(name) + ' (' + stat + ')'
