.clearfix.submenu
	if categories
		.pull-left
			ul.nav.nav-pills
				each category in categories
					li(class=(category === filter ? 'active' : ''))
						a(href="#{basename}/#{category}/")=__(category)
		.pull-right
			ul.nav.nav-pills
				each order in orderings
					li(class=(order === sort ? 'active' : ''))
						a(href="#{basename}/#{filter}/#{order}")=__(order)
