extends ../layout

block user-content
  // template: user/sections/gallery.jade
  .user_lists_bkg
    .container
      h1.user_list_title=__("Galleries")
      .row.grid.user_list
        each box in performer.galleries
          - var col_number = "col-sm-3"
          include ../../galleries/item
