extends ../layout

block variables
  - var activeChapter='user'
  - var activeSection='image'

block inner-content
  include ../menu_user
  +render-alerts(alerts)
  h3=__("Profile image")
  if image
    img.img-thumbnail(src="#{image}")
  div#image.dropzone
  div.progress
    div.progress-bar(role="progressbar", style="width: 0%;")
  div#dropzone-template
    div.dz-preview.dz-file-preview
      div.dz-details
        div.dz-filename
          span(data-dz-name)
        div.dz-size(data-dz-size)
        img(data-dz-thumbnail)
  script(src="//rawgit.com/enyo/dropzone/master/dist/dropzone.js")
  script(type="text/javascript").
    Dropzone.autoDiscover = false;
    $(document).ready(function() {
      drop = new Dropzone("#image", {
        dictDefaultMessage: "Drop file here or click to upload",
        previewTemplate: $('#dropzone-template').html(),
        paramName: "image",
        addRemoveLinks: false,
        maxFiles: 1,
        url: "/api/upload/image"
      });
      drop.on("success", function(file) {
        if (file.xhr.response) {
          $.ajax({
            type: "POST",
            url: "/controlpanel/user/image",
            data: {
              image: file.xhr.response
            },
            success: function(data) {
              if (data.success) {
                location.reload();
              } else {
                alert('error');
                location.reload();
              }
            }
          });
        } else {
          alert('error');
          location.reload();
        }
      });
      drop.on("uploadprogress", function(file, progress) {
        $('.progress').fadeIn(100);
        $('.progress-bar').css('width', progress + '%');
      });
      drop.on("complete", function(file, progress) {
        $('.progress').delay(2000).fadeOut(300);
      });
    });
